
main {
    display: flex;
    padding-right: 10%;
    padding-left: 10%;
    flex-direction: column;
}

button:hover {

    cursor: pointer;
}

.current-Titile_wrap {
    position: relative;
    width: 100%;
}

.current-Titile_main {
    position: absolute;
    top: 3%;
    display: flex;
    flex-direction: column;
}

.Titile_interact_siu {
    display: flex;
}

.novel-backg {
    width: 100%;
    opacity: 0.5;
}

.current-Titile {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.novel-avt {
    width: 250px;
    /* position: absolute; */
    bottom: 0vh;
    left: 5%;
}

.current-novel-name {
    font-size: 35px;
    /* position: absolute; */
    bottom: 28vh;
    color: rgb(177, 12, 45);
}

.title-gr {
    width: 70%;
    position: relative;
    margin-left: 50px;
}

.last-time-update {
    padding: 7px;
}

.current-category-list {
    display: flex;
    padding: 0;
}

.current-category-list-item {
    padding: 11px 23px;
    background-color: #35353c;
    margin: 5px;
    border-radius: 19px;
}

.btn {
    height: 60px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
    position: relative;
    border: 2px solid #be252500;
    margin-right: 20px;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 50px 100px -20px,
        rgba(255, 255, 255, 0.3) 0px 30px 60px -30px;
    cursor: pointer;
}

.btn::before,
.btn::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 100%;
}

.btn1 {
    transition: all 300ms cubic-bezier(0.39, 0.575, 0.565, 1);
    background-color: hsla(323, 87%, 50%, 0.664);
    border: 2px solid #111;
    width: 100px !important;
    height: 31px !important;
    border-radius: 23px;
    margin: 0 10px !important;
}

.btn1 h4 {
    color: #111;
    font-weight: 600;
}

.btn1:hover {
    border: 2px solid #111;
    box-shadow: 0px 0px 26px 8px hsla(323, 87%, 50%, 0.664);
    background-color: #000428;
}

.btn1:hover h4 {
    color: hsla(323, 87%, 50%, 0.664);
}

.btn7 {
    /* background-color: blueviolet; */
    border: none;
    cursor: pointer;
    width: 170px;
    margin-right: 40px;
}
.btn7 a{
    z-index:999999
}
.btn7:before,
.btn7:after {
    border: 5px solid rgb(109 252 0);
    transition: all 100ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
    background-color: #ff00ec78;
}

.btn7:hover:after {
    width: 63px;
    animation: anim7a 1.5s infinite linear;
}

.btn7:hover:before {
    width: 63px;
    animation: anim7b 1.5s infinite linear;
}

@keyframes anim7a {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

@keyframes anim7b {
    from {
        transform: rotate(0.125turn);
    }

    to {
        transform: rotate(1.125turn);
    }
}


h4 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    color: #fffefe;
    z-index: 100;
}



.chap1-start {
    width: 315px;
    height: 5vh;
    font-size: 20px;
    border-radius: 8px;
    margin: 20px;
    background-color: #cb0000 !important;
}

.latest-chapter {
    width: 315px;
    height: 5vh;
    font-size: 20px;
    border-radius: 8px;
    margin: 20px;
    background-color: #cb0000 !important;
}

.chapter-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #383838;
    border-left: 5px solid;
    margin: 5px;
}

.chapter-item:hover {
    cursor: pointer;
    background-color: #26262c;
}

.chapter-item div {
    display: flex;
}

.summary-listchap {
    width: 90%;
}

.summary-listchap h2 {
    font-size: 25px;
    color: #1877f2;
}

.listchap {
    border-top: #007fcb 2px solid;
    overflow-y: scroll;
    height: 700px;
}

.Similar {
    margin-left: 40px;

}

.Similar_title {
    padding: 20px 0;
    font-size: 25px;
    color: #1877f2;

}

.summary {
    width: 100%;
    /* background-color: #383838; */
    margin: 20px 0;
    font-size: 20px;
}


.summary-Content {
    padding: 20px;
    font-size: 17px;
}

.summary-btn {
    background-color: #007fcb !important;
    border-radius: 4px;
}



.same-propose {
    display: flex;
    flex-direction: column;
}

.same-propose-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 17px;
}

.same-propose img {
    height: 100px;
    border-radius: 5px;
}

.same-propose-item:hover {
    cursor: pointer;
    background-color: #2f2f2fc2;
}

.same-propose-item_title {
    margin-left: 15px;
}

.same-name {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.same-name:hover {
    text-decoration: underline;
}

.same-last-time {
    margin-top: 10px;
    font-size: 14px;
    color: #cb0000;
    cursor: auto;
    width: fit-content;
}

.current-body {
    font-size: 15px;
    display: flex;
    margin-top: 30px;
}

:root {
    --small-font: 15px;
}

.button-group {
    margin: 30px 0;
    display: flex;
}

.current-Titile_interact {
    display: flex;
    align-items: center;
}

.Titile_interact_like {
    padding: 2px 4px;
    margin: 20px 5px;
    background-color: #1877f2;
    border-radius: 2px;
    font-size: var(--small-font);
    cursor: pointer;
}

.Titile_interact_share {
    padding: 2px 4px;
    margin: 20px 5px;
    background-color: #1877f2;
    border-radius: 2px;
    font-size: var(--small-font);
    cursor: pointer;

}

/* comment */
.comment_container {
    width: 910px;
    background-color: pink;

}
.comment_container_wrap{
    padding: 20px;
}

.your-avt-container {
    display: flex;
    margin: 20px;
}

.input-gr {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.your_avt {
    width: 90px;
    height: 90px;
}

.your_comment {
    width: 95%;
    height: 40px;
    padding: 10px;
    border: 2px black solid;
    border-radius: 7px;
    word-wrap: break-word;
}

.send_your_cmt {
    width: 70px;
    height: 25px;
    margin-top: 10px;
    background-color: #00f1ff !important;
    border-radius: 5px;
}

.comment_item_container {
    display: flex;
    margin: 20px 0;
}

.comment_list {
    width: 100%;
    overflow-y: scroll;
    margin-left: 20px;
}

.comment_avt {
    width: 90px;
    height: 90px;
}

.comment_content-gr {
    width: 100%;
    border-radius: 10px;
    border: 1.8px black solid;
    margin: 0 20px;
    padding: 10px;
}

.comment {
    color: #26262c;
    margin: 20px;
}

.nick-name {
    color: #26262c;
    margin: 0 10px;
}

.chapter-commnet {
    color: #26262c;
}

.date_posting {
    margin-left: 10px;
    color: #38383875;
}

.posting_time {
    color: #38383875;
}
.Evaluate_btn:hover{
    color: #1877f2;
}

/* comment */


/* star */
/* use display:inline-flex to prevent whitespace issues. alternatively, you can put all the children of .rating-group on a single line */
#full-stars-example .rating-group {
    display: inline-flex;
}

#full-stars-example .rating__icon {
    pointer-events: none;
}

#full-stars-example .rating__input {
    position: absolute !important;
    left: -9999px !important;
}

#full-stars-example .rating__label {
    cursor: pointer;
    padding: 0 0.1em;
    font-size: 16px;
}

#full-stars-example .rating__icon--star {
    color: orange;
}

#full-stars-example .rating__icon--none {
    color: #eee;
}

#full-stars-example .rating__input--none:checked+.rating__label .rating__icon--none {
    color: red;
}

#full-stars-example .rating__input:checked~.rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars-example .rating-group:hover .rating__label .rating__icon--star {
    color: orange;
}

#full-stars-example .rating__input:hover~.rating__label .rating__icon--star {
    color: #ddd;
}

#full-stars-example .rating-group:hover .rating__input--none:not(:hover)+.rating__label .rating__icon--none {
    color: #eee;
}

#full-stars-example .rating__input--none:hover+.rating__label .rating__icon--none {
    color: red;
}

.Information{
    margin: 10px 0;
}