<table width="100%" border="0" cellpadding="0" cellspacing="0">

    <td align="center">
      <table class="form" width="500" cellpadding="0" cellspacing="0" style="background-color: #f3d5c0; border-radius: 0.8rem;">
        <tr style="height: 15;">
          <td></td>
          <td style="padding-top: 20px;text-align: center;">
            <div></div>
          </td>
          <td></td>
        </tr>
        <tr>
          <td style="width: 5%;"></td>
          <td class="form-small" style="background-color: #ffffec; border-radius: 0.8rem;padding: 30px;">
            <img src="cid:fs1120020a17090af28b00b00263fc1ef1aasm843048pjb10" alt="logo trường Đại học CTUT" style="height: 52px;">
  
            <p class="content" style="font-size: 14px; color: #121212;">
              Chào bạn,
              <br><br>
              Hiện tại, tài khoản của bạn đã không còn quyền tác giả, do vi phạm diều khoản của web chúng tôi . Nếu có khiếu nại, xin hãy điền vào form sau:  
              <br><br>
              
            <div style="text-align: center;margin-top: 40px;">
              <strong style="color: #ff4c4c;font-size:40px;padding: 20px;background-color: #f3d5c0;border-radius: 8px;"> <a href="<%=password%>">Nhấn vào đây</a>
              </strong>
            </div>
          
            </p>
  
          </td>
          <td style="width: 5%;"></td>
        </tr>
  
        <tr>
          <td></td>
          <td class="footer" style="font-size: 14px; text-align: center; padding: 20px 0;">
  
            <strong style="font-size: 15px; ">WTF novel - Truyện của mọi nhà</strong> <br><br>
            Address: thị xã Sa Pa, tỉnh Lào Cai, huyện Tam Đường và huyện Tân Uyên, tỉnh Lai Châu, Việt Nam. <br>
            Phone: 0386336428
          </td>
          <td></td>
        </tr>
  
      </table>
    </td>
  
  </table>