main {
  margin-top: 70px;
}

body {
  position: relative;
  overflow-x: hidden;
}

:root {
  --input-color: #ffffff;
  --background-color: #ffffec;
  --text-color: black;
  --button-colors: #b0906b;
  --widthbf: calc(0 * 1%);

}

body {
  color: var(--text-color) !important;
}

.group2 {
  display: flex;
  flex-direction: column;
}

#button_file {
  background-color: var(--button-colors) !important;
  width: 13% !important;
  height: 47px !important;
  border-radius: 20px !important;
}

#button_file:hover {
  cursor: pointer;
}

.information_name {
  margin-top: 20px;
}

.information_name_wrap {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
  flex-direction: column;
}

.containner_wrap {
  margin: 0 auto;
  display: flex;
}

.container {
  display: flex;
  width: 100%;
}

.Setting_sidebar_title {
  padding: 10px;
  background: var(--header-background);
  border-radius: 52px;
  width: 161px;
  border: 5px solid var(--border-btn-st);
  text-align: center;
  margin-left: 44px;
  color: var(--black-text);
}

.Setting_sidebar-wrapper {
  width: 20%;
  background-color: var(--element-color);
}

.Setting_pageWrapper {
  color: var(--black-text);
  display: none;
  min-height: 540px;
  padding: 20px;
  border: 2px solid;
}

.page4 {
  padding: 30px 90px;
}

.page4 .pass {
  width: 75%;
}

.Setting_pageWrapper__PM {
  width: 70%;
  margin: 20px auto;
}

.Setting_sidebar-list {
  padding-left: 10px;
  margin-left: 45px;
}

.Setting_sidebar-list_item {
  padding: 8% 2%;
  -webkit-border-top-left-radius: 89px;
  -webkit-border-bottom-left-radius: 89px;
  -moz-border-radius-topleft: 89px;
  -moz-border-radius-bottomleft: 89px;
  border-top-left-radius: 89px;
  border-bottom-left-radius: 89px;
}

.yourinfo {
  background-color: var(--st-pr-btn-bg);
}

.Setting_sidebar-list_item_wrap {
  padding-left: 18px;
  font-size: 20px;

}

.Setting_sidebar-list_item:hover {
  cursor: pointer;
  background-color: rgb(170, 175, 166);
  -webkit-border-top-left-radius: 89px;
  -webkit-border-bottom-left-radius: 89px;
  -moz-border-radius-topleft: 89px;
  -moz-border-radius-bottomleft: 89px;
  border-top-left-radius: 89px;
  border-bottom-left-radius: 89px;
}

.profile_input {
  border: 0;
  background-color: var(--input-color);
  color: var(--text-color);
  border: 2px #bba9a9 solid;
  border-radius: 6px;
  width: 460px;
  font-size: 1rem;
  line-height: 2rem;
  box-sizing: border-box;
  padding: 5px 10px;
}

.information_name {
  width: 100%;
  font-size: 1.2rem;
  line-height: 2rem;
  display: flex;
  justify-content: space-between;
}

.information_name select {
  width: 60%;
  font-size: 1rem;
  line-height: 2rem;
  border-bottom: 0.5px white solid;
  padding: 10px;
  border: 0;
  background-color: var(--input-color);
  color: var(--text-color);
  border: 2px #bba9a9 solid;
  border-radius: 6px;
}

.image-upload {
  margin: 0 45%;
  position: relative;
  width: 100px;
  height: 100px;
}

#preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  cursor: pointer;
}

#file-input {
  display: none;
}

.dropdown {
  width: 240px;
  height: 240px;
  position: relative;
  display: inline-block;
  border: 2px solid #000000;
}

.dropdown-trigger {
  background-color: transparent !important;
  border: none !important;
  cursor: pointer !important;
  padding: 0 !important;
}

.dropdown-trigger:hover {
  opacity: 1 !important;
  filter: none !important;
}

.dropdown-trigger:active {
  opacity: 0.3 !important;
}

.dropdown-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--input-color);
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: undropdown;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.dropdown-trigger:hover .dropdown-content {
  animation-name: dropdown;
}

.dropdown-content label {
  color: var(--text-color);
}

.dropdown-trigger img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.dropdown button {
  clip-path: none !important;
  width: 100%;
  height: 100%;
}

.drop-zone {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
}

.drop-zone p {
  color: transparent;
}

.sex_random {
  width: 515px;
  height: 50px;
  background-color: var(--button-colors);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-text);
}

.button_random {
  left: 35%;
}

.Save_btn {
  width: 100px;
  height: 50px;
  background-color: var(--button-colors) !important;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black-text);

  margin: 0 auto;
  font-size: 20px;
  color: var(--black-text);
  border-radius: 10px;
  cursor: pointer;
  margin-top: 50px;


}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #171717;
    --fg: #f1f1f1;
  }
}

@keyframes dropdown {
  from {
    height: 0;
    opacity: 0;
  }

  to {
    height: 50px;
    opacity: 1;
  }
}

@keyframes undropdown {
  from {
    height: 50px;
    opacity: 1;
  }

  to {
    height: 0;
    opacity: 0;
  }
}

/* da xem */
.followed-item {
  display: flex;
  justify-content: space-between;
  background-color: var(--element-color);
  margin: 20px;
  padding: 10px;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
}

.avt {
  width: 15%;
  padding-left: 1%;
}

.name-container {
  width: 100%;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name-container img {
  margin: 13px 0;
}

.delete-follow {
  height: 40px;
  border-radius: 10px;
  background-color: var(--button-colors) !important;
  color: var(--text-color);
  cursor: pointer;
}

.information_name {
  color: var(--element-color);
}

.information_name h3 {
  color: var(--text-color);
}

.name-novel p {
  margin: 0;
  text-align: justify;
}

.name-novel {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.name-novel h2 {
  text-transform: capitalize;
}

.last-time-container {
  margin: 18px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.name-novel-top {
  display: flex;
  justify-content: space-between;
}

/* change-pass */
.change-pass {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: nowrap;
  justify-content: center;
}

.change-pass-btn {
  background-color: var(--button-colors) !important;
  width: 35%;
  height: 58px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  margin: 50px 21%;
  font-size: 20px;
}

.pass {
  padding-left: 10px;
  height: 40px;
  width: 50%;
  font-size: 1rem;
  line-height: 2rem;
  border-radius: 10px;
  border: 2px solid rgb(187, 169, 169);
}

.FieldWrapper_wrapper {
  display: flex;
  padding: 0 40px;
}

.avt-wrapper-container {
  flex: 1;
}

.info-wrapper-container {
  flex: 2;
}

.sex_wrapper {
  width: 75%;
  display: flex;
  justify-content: space-between;
}





/* page5 */

.page_5_title {
  display: flex;
  justify-content: space-between;
  color: var(--background-color);
  align-items: center;
  cursor: pointer;
}

.page_5_title h2 {
  color: var(--black-text);
}

.page5_home_main {
  margin-top: 20px;
}

.page5_home_main_item {
  display: flex;
  padding: 10px 30px;
  border: 1px solid;
  margin: 20px 0;
}

.page5_home_main_logo {
  width: 18%;
}

.page5_home_main_logo img {
  width: 100%;
}

.add_new {
  height: fit-content;
  padding: 10px 20px;
  background-color: #593d1d !important;
  color: #ffffff;
  border-radius: 24px;
  cursor: pointer;
}

.page5_home_info {
  width: 55%;
  margin-left: 30px;
}

.item_btn_gr {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.page5_home_info_top {
  display: flex;
  align-items: center;
  color: var(--black-text);
}

.page5_home_info_name {
  font-size: 20px;
}

.page5_home_info_status {
  margin-left: 10px;
  font-size: 13px;
  border: 1px solid #5b3e06;
  border-radius: 20px;
  padding: 5px;
}

.page5_home_info_date {
  margin-top: 5px;
  color: var(--black-text);
  opacity: .7;
  font-size: 14px;
}

.page5_home_info_wrap {
  display: flex;
  margin-top: 10px;
}

.page5_home_info_wrap_item {
  padding: 10px 20px 10px 0;
  border-right: 1px solid #ccc;
  margin-right: 20px;
}

.page5_home_info_wrap_item_value {
  margin-top: 10px;
}

.page5_home_info_foot {
  display: flex;
  align-items: center;
}

.page5_home_info_foot span {
  padding-left: 20px;
  color: rgb(101, 18, 178);
}

.page5_home_info_wrap_item:last-child {
  border: 0;
}

.page5_info_main input,
.page5_info_main textarea {
  width: 100%;
}

.page5_info_img .dropdown {
  width: 335px;
  height: 335px;
}

.page5_info_main_btn {
  margin: 30px 5px;
  display: flex;
  justify-content: center;
}

.page5_info_main_btn button {
  width: 24%;
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 20px;
  color: var(--black-text);
  background-color: var(--button-colors) !important;
  cursor: pointer;
  text-transform: uppercase;
}

.page5_chap {
  display: none;
}

.page5_chap .page5_info_main {
  margin: 0 30px;
}

.page5_chap .page5_info_main .profile_input {
  width: 100%;
}

.page5_post {
  text-align: center;
  font-size: 20px;
  line-height: 34px;
  display: none;
}

.page5_post a {
  color: #180e8d;
}

.page5_post_check_wrap {
  display: flex;
  justify-content: center;
}

.page5_post_check {
  width: auto;
  height: 20px;
  margin-right: 10px;
}

.page5_post_check input {
  width: 20px;
  height: 20px;
  background: transparent;
  border: 0;
  filter: opacity(0);
}

.page5_last {
  display: none;
}

.novel_conntroller_btn {
  display: flex;
}

.add_novel_more_chap {
  display: flex;
}

.controller_btn {
  background-color: var(--button-colors) !important;
  width: 100% !important;
  height: fit-content !important;
  border-radius: 9px !important;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 3px;
  font-size: 15px;
  padding: 12px;
  cursor: pointer;
}

.controller_btn:hover,
.add_new:hover {
  background-color: #5b3e06 !important;
  color: #fff;

}

.novel_conntroller_btn .controller_btn {
  width: 50% !important;
}

/* page5 */
.range {
  position: relative;
  background-color: #333;
  width: 800px;
  height: 30px;
  margin: 0 auto;
  font-family: 'Orbitron', monospace;

  &:before {
    --width: calc(var(--p) * 1%);
    content: '';
  }

  &:after {
    counter-reset: progress var(--p);
    content: counter(progress) '%';
    color: #000;
    position: absolute;
    left: calc(var(--p) / 2 * 1% - 2%);
    top: 50%;
    transform: translateY(-50%) skewX(-30deg);
    z-index: 1;
  }

  &__label {
    transform: skew(-30deg) translateY(-100%);
    line-height: 1.5;
  }


}

.range__label {
  --width: calc(var(--p) * 1%);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #F3E600;
  z-index: 0;
  animation-delay: 0.1s;
}

.anima {
  animation: load 1s forwards linear;

}

.range img {
  width: 100px;
  margin-top: -75px;
  transform: rotate3d(0, 4, 0, 190deg);
  position: absolute;
  left: calc(var(--p) * 1% - 50px);
  top: -6px;
  transition: 1s linear;
}

@keyframes load {
  from {
    width: var(--widthbf);
  }

  to {
    width: var(--width);
  }
}

.page5_a {
  display: none;
  padding: 30px;
}

.page5_a form {
  width: 60%;
}

.page5_b {
  display: none;
}

.page5_c {
  display: none;
}


.page5_info {
  margin: 30px;
  display: flex;
  justify-content: space-between;

}

.page5_info_main {
  margin: 0 !important;
  width: 60%;
}

#post_novel {
  margin-top: 100px;
}

.page5_chap .page5_info_main {
  width: 100%;
}

.page5_info_main form {
  display: flex;
  flex-direction: column;
}


textarea {
  height: 200px;
}



.my_novel_item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.list_chapter_head {
  display: flex;
  justify-content: space-between;
}

.card {
  margin: 50px auto;
  position: relative;
  width: 600px;
  height: 334px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  font-family: 'Aclonica';
}


.card img {
  width: 100%;

}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 18px;
  color: #d6d6d6;
  font-weight: 700;
}

.card:hover img {
  scale: 1;
  filter: blur(8px);
}

.card__description {
  margin: 10px 0 0;
  font-size: 18px;
  color: rgb(0, 0, 0);
  line-height: 1.4;
  max-width: fit-content;
}

.head {
  display: flex;
  margin: 30px 5px;
  justify-content: flex-start;
  align-items: center;
}

.upfile {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 50%;
  color: var(--black-text);
  background-color: var(--button-colors) !important;
  cursor: pointer;
  text-transform: uppercase;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.delete_chap {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 50%;
  background-color: var(--button-colors) !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.next_btn {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.back_btn {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.post_btn {
  width: 40px !important;
  height: 40px !important;
  border-radius: 50% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.page5_last_btn {
  width: 100px;
  text-align: center;
  font-size: 18px;
  padding: 20px;
  background-color: var(--button-colors);
  border-radius: 5px;
  margin: 0 auto;
}

.copy {
  flex-direction: column;
}

.group2 {
  display: flex;
  flex-direction: column;
}

input:required:focus {
  border: 2px solid red;
  outline: none;
}



/* popup */
.toast {
  display: flex;
  position: fixed;
  top: 17%;
  right: 30px;
  border-radius: 12px;
  background: var(--white-text);
  padding: 20px 35px 20px 25px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active {
  transform: translateX(0%);
}

.toast .toast-content {
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: var(--button-colors);
  color: var(--white-text);
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #666666;
}

.message .text.text-1 {
  font-weight: 600;
  color: #333;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 57%;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;

}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: var(--button-colors);
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

/* popup */