@media screen and (max-width: 600px) {
    .FieldWrapper_wrapper {
        display: flex;
        padding: 0;
        flex-direction: column;
    }

    .dropdown {
        margin: auto;
    }

    .profile_input {
        width: 100%;
    }

    .Setting_pageWrapper__PM {
        width: 100%;
        margin: 0;
    }

    #button_file {
        width: 19% !important;
    }

    .avt {
        width: 21%;
    }

    .last-time-container {
        margin: 0;
    }

    .name-novel h2 {
        font-size: 1rem;
    }

    .name-novel p {
        display: none;
    }

    .page5_home_info_wrap_item {
        padding: 0 !important;
    }

    .page5_home_main_logo img {
        width: 17.5em;
    }
    .page5_home_info_status {
        text-align: center;
    }
    .page5_home_info_wrap {
        width: 19em;
    }
    .item_btn_gr {
        width: 100%;
    }
    .page5_home_info {
        width: 100%;
        margin-left: 0;
    }
    .page5_home_main_logo {
        width: 100%;
    }
    .page5_home_main_item {
        flex-direction: column;
        align-items: center;
    }
    .Setting_sidebar-wrapper {
        z-index: 100;
        left: -16em;
        position: fixed;
        width: 70%;
        transition: 1s left ease-in-out;
    }
    .range {
        width: 100%;
    }
    .page5_info {
        margin: 0;
        flex-direction: column;
    }
    .page5_a {
        padding: 0px;
    }
    .Setting_pageWrapper {
        padding: 1em;
    }
    .page5_info_main {
        width: 100%;
    }
    .Setting_sidebar_wrapper_active {
        display: block;
        position: absolute;
        right: -2em;
        width: 2em;
        height: 3em;
        background-color: var(--element-color);
        border-radius: 5px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    #media {
        flex-direction: column;
    }
    .page5_info_main_btn button {
        font-size: 0.7em;
    }
    .card {
        width: 20em;
        height: 11em;
    }
}
