@media screen and (max-width:600px) {

    html {
        font-size: 16px;
    }

    .header_wrap {
        padding: 0;
        height: auto;
    }

    .header_start {
        flex: 3;
    }

    #hamburger,
    .header_user_logo_i p {
        display: none;
    }

    .header_search {
        width: 40px;
        float: right;
        border-radius: 50%;
        flex: 0;
        margin-right: 10px;
    }

    .header_search_wrap {
        background: transparent;
        border-radius: 50%;
        height: 30px;
    }

    .header_search_wrap form {
        display: none;
    }

    .header_user_logo {
        margin-left: 10px;
    }

    .header_search:hover {
        flex: 9;
    }

    .header_search:hover .header_search_wrap {
        background: var(--search-bg);
        border-radius: 26px;
    }

    .header_search:hover .header_search_wrap form {
        display: block;
    }

    .header_notify_logo i {
        font-size: 20px;
    }

    .curent-avt {
        width: 32px;
        height: 32px;
        margin-right: 0;
    }

    .swiper-horizontal {
        height: 302px !important;
    }

    .novel_container {
        width: 100vw !important;
    }

    .fix1,
    .fix2 {
        display: none;
    }

    html .body_main {
        width: 100vw;
    }

    .top_popular_top_time {
        padding: 0;
    }

    .radio-input {
        --container_width: 170px;
    }

    .novel_item {
        width: 44%;
    }

    .footer_wrap {
        display: block;
        text-align: center;
    }

    .footer_wrap_logo,
    .footer_wrap_main,
    .footer_wrap_contact {
        width: auto;
    }

    .novel_item_main_img,
    .novel_item img {
        height: 150px;
    }

    .novel_item img {
        object-position: 50% 0%;
    }

    .left_item {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 215px;
        background-color: var(--category_bg);
        margin-top: 0;
        padding: 0;
        transition: all 0.5s ease;
        z-index: 999999;
    }

    .left_item {
        bottom: 0;
        display: flex;
        top: auto;
        left: 0;
        width: 100%;
        background-color: var(--header-background);
        margin: 0;
    }

    .close {
        transform: none;
    }

    .left_li {
        order: 0;
        justify-content: center;
        height: auto;
        padding: 0;
        color: var(--login-btn);
    }

    .left_li a {
        color: var(--login-btn);

    }

    .left_li i {
        padding: 0;
    }

    .left_li span {
        display: none;
    }

    #history,
    #trending_novel_btn {
        order: 1
    }

    .d-l_theme {
        position: absolute;
        transform: translate(-50%, -62%);
        left: 50%;
        top: 50%;
        height: fit-content;
        width: fit-content;
    }

    .toggle-switch {
        width: 50px;
        height: 50px;
        margin: 0;
        display: flex;
        justify-content: center;
    }

    .switch-label {
        width: 50px;
        height: 50px;
        border: 0;
        position: relative;
    }

    .slider::before {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .checkbox:checked~.slider::before {
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
    }

    .body_wrap {
        margin-top: 50px;
    }

    .trending_novel_item {
        width: 100%;
    }

    .modal_wrap {
        left: auto;
    }

    .slider::before {
        background-image: url(https://cdn.discordapp.com/attachments/1119221555566751754/1132253715651367002/superman.png);
        background-size: contain;
        box-shadow: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: transparent
    }

    .checkbox:checked~.slider::before {
        background-image: url(https://cdn.discordapp.com/attachments/1119221555566751754/1132253715429072907/comic.png);
        background-color: transparent
    }

    .right_item_mobile {
        display: block !important;
    }

    .right_item_mobile {
        right: -100%;
        top: 50px;
        position: fixed !important;
        width: 100%;
        height: 100%;
        background-color: var(--category_bg);
        z-index: 100;
        display: flex;
        flex-direction: column;
        text-align: center;
        transition: right 0.3s ease-in-out ;
    }


    .right_item_mobile_li {
        width: 100%;
        height: 3em;
        padding-left: 1em;
        font-size: 1.4em;
        border-bottom: 1px solid;
        display: flex;
        align-items: center;
    }

    .header_notify_more {
        top: 0em;
        left: 0;
        position: absolute;
        width: 15em;
        height: 200px;
    }


    .header_notify_more::after {
        display: none;
    }

    .header_notify_logo {
        margin: 0 20px;
    }
    .header_user_more{
        display: none !important;
    }
    .right_item_mobile_close{
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, -50%);
        
    }
    .right_item_mobile_close i {
        font-size: 50px;
        color: var(--login-btn);
    }
}