@media screen and (max-width:600px) {
    .body_main {
        padding: 0;
    }

    .search-btn {
        width: 6em;
    }

    main {
        padding: 0;
    }

    .radio-input {
        --container_width: 100%px !important;
        margin: 0 .5em;
    }

    .novel .no_novel {
        padding: 150px 0;
        font-size: 1.5rem;
        color: var(--black-text)
    }

    .sort-container {
        width: 100%;
        height: 5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .sort-menu {
        flex-direction: column;
    }

    .sort-menu {
        margin: 3%;
    }

    .information_name_wrap {
        margin: 0;
    }

    .sort-menu {
        background-color: var(--header-background);
        padding: 1rem;
        border-radius: 1rem;
    }

    #current-category {
        margin-left: .5em;
    }


}