<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/b8977956b3.js" crossorigin="anonymous"></script>
		<script
			src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
			type="text/javascript"
		></script>

		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
		<link rel="stylesheet" href="../src/CSS/admin-index.css">
		<title>Admin</title>
		
	</head>

	<body>
		<%- include(headerFile) %>

		<div class="modal_main" style="display: block;min-height: 85vh;margin-top: 70px;">
			<div class="modal_admin">
				<form class="form_admin" >
					<h2 class="admin_heading">CHỨC NĂNG ADMIN</h2>
					<div class="admin_bnt_gr">
						<button class="admin_btn account_manager">
							<i class="fa-solid fa-address-book"></i> Quản lý tài khoản
						</button>
						<button class="admin_btn novel_manager">
							<i class="fa-solid fa-book-open"></i>Quản lý truyện
						</button>
						<button class="admin_btn add_slider">
							<i class="fa-solid fa-photo-film"></i>Chỉnh sửa Slider
						</button>
						<button class="admin_btn manager_category">
							<i class="fa-solid fa-list"></i>Quản lí thể loại
						</button>
					</div>
				</form>
			</div>
		</div>
		<%- include(footerFile) %>
		<script src="/src/JS/admin.js"></script>
	</body>
</html>
