<!-- footer.html -->
<div class="footer_wrap">
    <div class="footer_wrap_logo">
        <img src="/image/logo.svg" alt="">
    </div>
    <div class="footer_wrap_main">
        <div id="footer_wrap_main_title">
            <p> © 2023 WhatNovel.vn Inc.<br>

                WhatNovel.vn là một website đọc truyện online hỗ trợ đọc truyện trên laptop, điện
                thoại di động và máy tính bảng với rất nhiều thể loại truyện được chúng tôi sưu tầm từ nhiều
                nguồn khác nhau trên internet. Chúng tôi KHÔNG CHỊU TRÁCH NHIỆM về vấn đề bản quyền! Nếu bạn cho
                rằng chúng tôi đang đăng tải một tài liệu có bản quyền hãy <a href="https://docs.google.com/forms/d/e/1FAIpQLSemSXBEozZZAoMjqtiNK9k6uz9AKjoR85fKAFOExYDLpNtqEA/viewform">cho chúng tôi biết</a> về
                điều đó.</p>

        </div>
    </div>
    <div class="footer_wrap_contact">
        <div class="footer_wrap_contact_item">
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="footer_wrap_contact_item">
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="footer_wrap_contact_item">
            <i class="fa-brands fa-google-plus"></i>
        </div>
    </div>
</div>
