<!-- footer.html -->
<div class="footer_wrap">
    <div class="footer_wrap_logo">
        <img src="/image/logo.png" alt="">
    </div>
    <div class="footer_wrap_main">
        <div id="footer_wrap_main_title">
            <p> © 2023 WTFNovel.Vn Inc.<br>
                WTFNovel.VN là một website <a href="">đọc truyện online</a> hỗ trợ đọc truyện trên laptop, điện
                thoại di động và máy tính bảng với rất nhiều thể loại truyện được chúng tôi sưu tầm từ nhiều
                nguồn khác nhau trên internet. Chúng tôi KHÔNG CHỊU TRÁCH NHIỆM về vấn đề bản quyền! Nếu bạn cho
                rằng chúng tôi đang đăng tải một tài liệu có bản quyền hãy <a href="">cho chúng tôi biết</a> về
                điều đó.</p>
            <p>Trang web hoàn toàn được điều khiển bởi các thực thể vũ trụ với một khủng bố, một thằng nghiện, một
                thằng pac poy, một thằng băng búa liềm, một bé vô tri. Hãy đọc 1 lần trước khi đăng xuất để hưởng
                những đặc
                quyền ở thế giới bên kia.</p>
        </div>
    </div>
    <div class="footer_wrap_contact">
        <div class="footer_wrap_contact_item">
            <i class="fa-brands fa-facebook"></i>
        </div>
        <div class="footer_wrap_contact_item">
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div class="footer_wrap_contact_item">
            <i class="fa-brands fa-google-plus"></i>
        </div>
    </div>
</div>
